.login_page
{
    /* background-image: url(./image/cta-bg.jpg); */
    background-color: rgb(25, 51, 82);
}
.formContainer {
    box-shadow : 4px 8px 16px #061125;
    margin:15vh auto;
    padding:20px;
    border-radius:0px 0px 4px 4px;
  }
  input {
    box-shadow:none !important;
    outline:none;
  }
  #formHeading {
    background:#6391cd;
    margin:-20px -20px 0px -20px;
    border-radius:4px 4px 0px 0px
  }
  .loginWithIcon {
    font-size:14px;
    height:32px;
    width:32px;
    background:#6391cd;
    margin:8px;
    line-height:32px;
    display:inline-block;
    border-radius:32px;
    text-align:center;
    color:#fff
  }
  #loginWithPanel {
    background:#d8e8fd;
    margin:auto -20px;
  }